body{
  background-color:black;
  color: white;
}
.title{
  background-color: #00ad45;
  font-family: Nosifer, sans-serif;
  text-align:center;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  font-size: 20px;
}
.this{
  color:black;
}
.quote{
  display: flex;
  align-items: center;
  height:75vh;
  font-size: 70px;
 font-family: 'Dancing Script';
  border-radius: 15px;
  justify-content: center;       

  


}
.color{
  color: #00ad45;

}
.nav{
  display: flex;

  flex-direction: row;
  justify-content:center ;
  gap: 20px;

}
a {
  background-color: #00ad45;
  width: 100px;
  text-align: center;
  text-decoration: none;
  height: 30px;
  font-size: 25px;
  color: black;
  border-radius: 30px;
  font-family:fantasy;

}
.home{
  background-color: #5ecc62;
  box-shadow: 0 4px 4px rgba(220, 87, 5, 0.8);

}
